@CHARSET "UTF-8";

.home_column {
	width: 280px;
	height:350px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

img.play {
	position: relative;
	z-index: 2;
	top: -130px;
	left: 80px;
	width: 70px;
}

p.column-text-title background {
	opacity: 0.4;
}

p.column-text-title {
	position: relative;
	top: -80px;
	color: #FB0;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	background: url(/design/images/blackorchid.png) repeat;
}

p.column-text-title-read {
	position: relative;
	top: -7px;
	color: #FB0;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	filter: alpha(opacity = 40); /* For IE8 and earlier */
	background: url(/design/images/blackorchid.png) repeat;
}

p.column-text-title-read a,p.column-text-title a {
	color: #FB0;
}

#events{
	width: 500px;
	height: 205px;
	display: inline-block;
}
#events #event {
background: url(/design/images/chrismas.jpg) repeat;
	width: 500px;
	height: 205px;
}

#events #event #event-info {
	position: relative;
	top: 50px;
	background-color: rgba(0, 0, 0, 0.68);
	padding-top:10px;
}

#events #event p,#events #event h3,#events #event a {
	text-align: center;
}

#events #event #event-info #event-title {
	font-size: 28px;
	color: #fff;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 3px;
	font: bold 20px/20px "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#events #event #event-info #event-date{
	font-size: 16px;
	color: #b3b3b3;
	line-height: 16px;
	margin-bottom: 3px;
	
	font: "proxima-nova", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#events #event #event-info #more{
position: relative;
top:20px;
}

.fb-like{
	margin-top:20px;
	margin-left:30px;
	display: inline-block;
	vertical-align: top;
}

.content .social-icon{
	position: relative;
	left:600px;
	top:-100px;
}

#newsletter-box{
	background-color: #57ADAE;;
	width:910px;
	padding:10px;
	margin-bottom:30px;
}
 
#newsletter-box h2{
	display: inline-block;
	font-size:25px;
	margin-right:10px;
}

#newsletter-box input{
width: 400px;
	padding: 6px 9px;
	font-size: 16px;
	height: 22px !important;
	background-color: #fff;
	border: 1px solid #a1a1a3;
	border-bottom-color: #bbbbbc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
	transition: color border linear .2s, box-shadow linear .2s linear;
	-o-transition: color border linear .2s, box-shadow linear .2s linear;
	-moz-transition: color border linear .2s, box-shadow linear .2s linear;
	-webkit-transition: color border linear .2s, box-shadow linear .2s
		linear;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-ms-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	
}